<div class="w-full flex justify-between items-center">
    <span>Made by Victor Rodrigues. Inpiration by <a href="https://www.figma.com/file/ZAzVa8YShEdCAO58TqPgL4/Blog_LandingPage-(Community)?type=design&t=5pbZc5K0NTlkLnsk-6" class="underline">CreativeDesignsGuru Blog Design</a></span>
    <nav>
        <ul class="flex gap-5">
            <li>
                <a href="https://www.linkedin.com/in/victorafrodrigues/">
                    <img src="../../../assets/linkedin-icon.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://github.com/victorafrodrigues">
                    <img src="../../../assets/github-icon.png" alt="">
                </a>
            </li>
        </ul>
    </nav>
</div>
